{% extends "layout.html" %}

{% block title %}
  Dashboard
{% endblock %}

{% block stylesheet %}
  <link href="../../static/css/index.css" rel="stylesheet">
{% endblock %}

{% block main %}
  <h1 class="text-center pt-4 pb-4">Hello, {{ username }}!</h1>
  <form action="/search" method="get" id="search-user-form">
    <div class="mb-3 text-center">
      <label for="username" class="form-label">Username</label>
      <input autocomplete="off" autofocus class="form-control" type="search" id="username" name="q">
    </div>
    <input type="submit" class="btn btn-primary" value="Search">
  </form>
  {% if found_users is none %}
  {% elif found_users %}
  <h2 class="text-center mt-5 mb-4">Found users:</h2>
  <ul class="users-list list-group">
    {% for user in found_users %}
        <li class="list-group-item">
          <span>{{ user.username }}</span>
          {% if user.username == username %}
            <span class="text-center">You</span>
          {% else %}
            <form action="/send-message" method="post" onsubmit={handleSubmit(event)}>
              <input type="hidden" name="username" value="{{ user.username }}">
              <button
                type="submit"
                class="btn btn-primary btn-small submit-btn"
              >
                Send message
              </button>
            </form>
          {% endif %}
        </li>
    {% endfor %}
  </ul>
  {% else %}
  <h2 class="text-center mt-5 mb-4">Found users:</h2>
  <p class="text-center">Found no user</p>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="../../static/js/index.js"></script>
{% endblock %}